{% extends 'base.html' %}

{% block style %}
<style>
  @font-face {
    font-family: 'establishRetrosansOTF';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 50;
    font-style: normal;
  }
</style>
{% endblock style %}

{% block title %}
  change password
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-5 text-center my-3" style="font-family: 'S-CoreDream-3Light';">비밀번호 변경</h1>
    <hr>
    <div class="d-flex justify-content-center mt-5">
      <form action="{% url 'accounts:change_password' %}" method="POST" style="font-family: 'S-CoreDream-3Light';">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="변경" class="btn btn-success fw-bold" style="font-family:'S-CoreDream-3Light'; width:100%; padding:10px; font-size:22px;">
        <a href="{% url 'accounts:update' %}" class="btn btn-success fw-bold mt-2" style="font-family:'S-CoreDream-3Light'; width:100%; padding:10px; font-size:22px;">뒤로가기</a>
      </form>
    </div>
  </div>
  <div style="width:100%; height:95px">
    <div></div>
  </div>
{% endblock content %}
