{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}
  MyPage
{% endblock title %}
{% block style %}
  <style>
    .profile-title {
      display: flex;
      flex-flow: row;
    }

    .info {
      padding-bottom: 10px;
    }

    .post-block {
      display: flex;
      height: 10vh;
      width: 100%;
      justify-content: center;
    }

    @font-face {
      font-family: 'establishRetrosansOTF';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'HANAMDAUM';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2") format('woff2');
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'TheJamsil5Bold';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format('woff2');
      font-weight: 50;
      font-style: normal;
    }

    @font-face {
      font-family: 'S-CoreDream-3Light';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format('woff');
      font-weight: normal;
      font-style: normal;
    }
  </style>
{% endblock style%}
{% block content %}
  <div class="container">
    <!-- 사용자 프로필 정보 -->
    <div class="row align-items-start profile-title p-5">
      <!-- 프로필 이미지 -->
      {% if person.profile_image %}
        <img src="{{ person.profile_image.url }}" alt="post_image" class="col-3 rounded-circle">
      {% else %}
        <img src="https://i.pinimg.com/564x/d2/98/4e/d2984ec4b65a8568eab3dc2b640fc58e.jpg" alt="no_image" class="col-3 rounded-circle">
      {% endif %}
      <div class="d-flex flex-column justify-content-center col-8 ms-5 ps-5 ">
        <div class="row justify-content-start align-items-center my-1">
          <h1 class="col-4 mt-3" style="font-family: 'TheJamsil5Bold';">{{ person.username }}</h1>
          <div class="col-8">
            {% if request.user.is_authenticated %}
              {% if user.username != person.username %}
                <form class="mt-2" id="follow-form" data-user-id="{{ person.pk }}">
                  {% csrf_token %}
                  {% if request.user in person.followers.all %}
                    <input type="submit" value="언팔로우" class="btn btn-success" style="font-family: 'TheJamsil5Bold';">
                  {% else %}
                    <input type="submit" value="팔로우" class="btn btn-success" style="font-family: 'TheJamsil5Bold';">
                  {% endif %}
                </form>
              {% else %}
                <a href="{% url 'accounts:update' %}" style="font-family: 'TheJamsil5Bold';" class="button btn btn-outline-success">회원정보 수정</a>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <!-- 사용자 정보 -->
        <div class="mt-3">
          <div class="col info">
            <h3 style="font-family: 'S-CoreDream-3Light';">
              {{ person.nickname }}
            </h3>
          </div>
          <div class="col info" style="font-family: 'S-CoreDream-3Light';">
            <h4>
              {{ person.email }}
            </h4>
          </div>
          <div class="col info" style="font-family: 'S-CoreDream-3Light';">
            <h5>
              {% if person.status_message %}
                {{ person.status_message }}
              {% else %}
                <p>상태메세지를 입력해주세요 :)</p>
              {% endif %}
            </h5>
          </div>
        </div>

        <div class="row row-cols-auto align-items-center my-1">
          <div class="col">
            <button style="font-family: 'TheJamsil5Bold';" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              맞팔로우 목록
            </button>
          </div>
          <div class="col ms-2">
            <button type="button" style="font-family: 'TheJamsil5Bold';" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              <span id="followings-count">{{ person.followings.all|length }}</span>
              팔로잉
            </button>
          </div>
          <div class="col">
            <button type="button" style="font-family: 'TheJamsil5Bold';" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              <span id="followers-count">{{ person.followers.all|length }}</span>
              팔로워
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="m-1 col">
      <!-- 사용자가 작성한 게시글 -->
      <div class="col">
        <h1 class="mt-3 px-5 py-3" style="font-family: 'TheJamsil5Bold';">게시글</h1>
        {% for post in person.post_set.all %}
          <div class="card m-4" style="overflow: hidden; font-family: 'S-CoreDream-3Light'; max-width:100%;">
            <div class="row g-0" style="overflow: hidden;">
              <div class="col-2" style="overflow: hidden;">
                {% if post.post_images.first.image.url %}
                  <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;"class='mt-3 mb-3 d-flex justify-content-center' src=" {{ post.post_images.first.image.url }} " alt="movie_img">
                {% else %}
                  <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;" class='mt-3 mb-3 d-flex justify-content-center' src="{% static 'no_image.jpg' %}" alt="no_img">
                {% endif %}

                {% comment %} {% if post.post_image %}
                  <img src="{{ post.post_image.url }}" alt="post_image" class="card-img rounded-start">
                {% else %}
                  <img src="{% static 'no_image.jpg' %}" alt="no_image" style="overflow: hidden; object-fit: cover; width: 100%; height:100%; max-width:100%; max-height:100%;" class="card-img rounded-start">
                {% endif %} {% endcomment %}
              </div>
              <div class="col-10">
                <div class="card-body p-3">
                  <h2 class="card-title ms-3">
                    <a href="{% url 'posts:detail' post.pk %}" style="color:#198754; text-decoration: none;">
                      {{ post.name }}
                    </a>
                  </h2>
                  <p class="mt-4 ms-3 card-text">{{ post.address }}</p>
                  <p class="ms-3 card-text">{{ post.description | truncatewords:40 }}</p>
                  <div class="ms-3 align-self-start">
                    💚
                    {{ post.like_users.count }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="m-1 mt-5 col">
      <!-- 사용자가 좋아요 한 시설 -->
      <div class="col">
        <h1 class="mt-3 px-5 py-3" style="font-family: 'TheJamsil5Bold';">좋아요</h1>
        {% for post in person.like_posts.all %}
          <a href="{% url 'posts:detail' post.pk %}" style="text-decoration: none;">
            <div class="card m-4" style="max-width: 90%; font-family: 'S-CoreDream-3Light'; max-width:100%;">
              <div class="row g-0">
                <div class="col-2">
                  {% if post.post_images.first.image.url %}
                    <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;"class='mt-3 mb-3 d-flex justify-content-center' src=" {{ post.post_images.first.image.url }} " alt="movie_img">
                  {% else %}
                    <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;" class='mt-3 mb-3 d-flex justify-content-center' src="{% static 'no_image.jpg' %}" alt="no_img">
                  {% endif %}
                  {% comment %} {% if post.post_image %}
                    <img src="{{ post.post_image.url }}" alt="post_image" class="card-img rounded-start">
                  {% else %}
                    <img src="{% static 'no_image.jpg' %}" alt="no_image" style="overflow: hidden; object-fit: cover; width: 100%; height:100%; max-width:100%; max-height:100%;" class="card-img rounded-start">
                  {% endif %} {% endcomment %}
                </div>
                <div class="col-10">
                  <div class="card-body p-3">
                    <h2 class="card-title ms-3" style="color:#198754;">
                      {{ post.name }}
                    </h2>
                    <p class="mt-4 ms-3 card-text">{{ post.address }}</p>
                    <p class="ms-3 card-text">{{ post.description | truncatewords:40 }}</p>
                    <div class="ms-3 align-self-start">
                      💚
                      {{ post.like_users.count }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="mt-5 m-1 col">
      <!-- 사용자가 작성한 리뷰 -->
      <div class="col">
        <h1 class="mt-3 px-5 py-3" style="font-family: 'TheJamsil5Bold';">리뷰</h1>
        {% for review in person.review_set.all %}
          <a href="{% url 'posts:detail' review.post.pk %}" style="text-decoration: none;">
            <div class="card m-4" style="max-width: 90%; font-family: 'S-CoreDream-3Light'; max-width:100%;">
              <div class="row g-0">
                <div class="col-2">
                  {% if review.review_images.first.image.url %}
                    <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;"class='mt-3 mb-3 d-flex justify-content-center' src=" {{ review.review_images.first.image.url }} " alt="movie_img">
                  {% else %}
                    <img style="width: 14rem; height: 11rem; max-width: 100%;max-height: 100%;" class='mt-3 mb-3 d-flex justify-content-center' src="{% static 'no_image.jpg' %}" alt="no_img">
                  {% endif %}
                </div>
                <div class="col-10">
                  <div class="card-body p-3">
                    <h2 class="card-title ms-3" style="font-family: 'S-CoreDream-3Light'; color:#198754;">
                      {{ review.post.name }}
                    </h2>
                    <br>
                    <h4 class="card-title ms-3" style="font-family: 'S-CoreDream-3Light';">
                      {{ review.review | truncatewords:40 }}
                    </h4>
                    <br>
                    <p class="card-title ms-3" style="font-family: 'S-CoreDream-3Light';">
                      평점:
                      <div class="progress col-5 ms-3" role="progressbar" aria-label="Default striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success progress-bar" style="width: {{ review.accessibility|add:review.cost|add:review.service|add:review.convenience_facilities|add:review.satisfaction|mul:4 }}%"> {{ review.accessibility|add:review.cost|add:review.service|add:review.convenience_facilities|add:review.satisfaction|div:5 }} / 5</div>
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="mt-5 ms-4 ps-1 py-2 col-2" style="font-family: 'TheJamsil5Bold';">
        <a class="change-passwosrd btn btn-outline-success" style="width:100%; padding:10px; font-size: 22px;" on-click='func()' href="{% url 'accounts:change_password' %}">
          비밀번호 변경
        </a>
      </div>

      <!-- 회원 탈퇴-->
      <div class="mt-5 ms-4 ps-1 py-2 col-2" style="font-family: 'TheJamsil5Bold';">
        <a class="change-passwosrd btn btn-outline-secondary" style="width:100%; padding:10px; font-size: 22px;" on-click='func()' href="{% url 'accounts:delete' %}">
          회원 탈퇴
        </a>
      </div>
    </div>
    <!-- 비밀번호 변경 -->
  </div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 style="font-family: 'TheJamsil5Bold';" class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
            님의 팔로잉 목록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for following in person.followings.all %}
            <p>
              <a href="{% url 'accounts:profile' following.username %}" style="font-family: 'S-CoreDream-3Light'; text-decoration: none;">{{ following.username }}</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 style="font-family: 'TheJamsil5Bold';" class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
            님의 팔로워 목록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follower in person.followers.all %}
            <a href="{% url 'accounts:profile' follower.username %}" style="font-family: 'S-CoreDream-3Light';text-decoration: none;">
              <p>
                {{ follower.username }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 style="font-family: 'TheJamsil5Bold';" class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
            님의 맞팔로워 목록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follower in person.followers.all %}
            {% if person in follower.followers.all %}
              <p>
                <a href="{% url 'accounts:profile' follower.username %}" style="font-family: 'S-CoreDream-3Light';text-decoration: none;">{{ follower.username }}</a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script>
function resizeImage(img) {
  const cardHeight = img.parentElement.parentElement.parentElement.offsetHeight;
  const imageHeight = img.offsetHeight;
  if (imageHeight > cardHeight) {
    img.style.height = cardHeight + "px";
  }
}
</script>
{% endblock script %}
