{% extends 'base.html' %}
{% load static %}
{% block style %}
  <style>
    .profile-title {
      display: inline-block;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
    }

    .post-block {
      display: flex;
      height: 10vh;
      width: 100%;
      justify-content: center;
    }

    .profile-img {
      width: 40vh;
    }
  </style>
{% endblock style%}
{% block content %}
  <div class="container">

    <!-- 사용자 프로필 정보 -->
    <div class="col align-items-center profile-title">
      <div class="row">
        <!-- 프로필 이미지 -->
        {% comment %} <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% endcomment %}

          {% if user.profile_image %}
            <img src="{{ post.post_image.url }}" alt="post_image" class="col-4 rounded-circle profile-img">
          {% else %}
            <img src="https://i.pinimg.com/564x/dc/93/f7/dc93f70b6620fc090ef6d1249f01f55a.jpg" alt="no_image" class="col-4 rounded-circle profile-img">
          {% endif %}
                 {% comment %}
          <div id="profile-image">
            {{ form.profile_image }}
          </div>
    <input type="submit" value='프로필 이미지' class="btn btn-success mb-2" style="width:10%; padding:10px; font-size: 13px;">

        </form> {% endcomment %}

        <!-- 사용자 이름 -->
        <h1 class="col-2 text-center">{{ user.username }}</h1>

        <div class="col-5">
          <!-- 팔로우 버튼 / 회원정보 수정 버튼 -->
          <div class="row">
            <div class="col">
              {% if request.user.is_authenticated %}
                {% if user.username != person.username %}
                {% if request.user in person.followers.all %}
                <input type="submit" value="언팔로우" class="btn btn-success">
                {% else %}
                <input type="submit" value="팔로우" class="btn btn-success">
                {% endif %}
                {% else %}
                <form id="follow-form" data-user-id="{{ person.pk }}">
                  {% csrf_token %}
                  <a href="{% url 'accounts:update' %}" class="button btn btn-success">회원정보 수정</a>
                </form>
                {% endif %}
              {% else %}
                <input type="submit" value="팔로우" class="btn btn-secondary disabled">
              {% endif %}
            </div>
          </div>

          <!-- 팔로잉 / 팔로워 / 맞팔 목록 -->
          <div class="col">
            <div class="row justify-content-end mt-3 ms-1">
              <div class="col">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  팔로잉
                  {{ person.followings.all|length }}
                  명
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  팔로워
                  <span id="followers-count">{{ person.followers.all|length }}</span>
                  명
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  맞팔 목록
                </button>
              </div>
            </div>
          </div>

          <!-- 사용자 정보 -->
          <div class="col p-3">
            <div class="col">
              <h4>
                닉네임:
                {{ person.nickname }}
              </h4>
            </div>
            <div class="col">
              <h4>
                이메일:
                {{ person.email }}
              </h4>
            </div>
            <div class="col">
              <h4>
                상태 메세지:
              </h4>
                {{ person.status_message }}
            </div>
            <div class="row justify-content-end mt-3 ms-1">
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <div class="m-1 col">
      <!-- 사용자가 작성한 게시글 -->
      <div class="col">
        <h1 class="m-3">게시글</h1>
        <hr>
        {% for post in person.post_set.all %}
          <div class="card mb-3 mx-5" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-2">
                {% if post.post_image %}
                  <img src="{{ post.post_image.url }}" alt="post_image" class="card-img rounded-start">
                {% else %}
                  <img src="{% static 'no_image.jpg' %}" alt="no_image" class="card-img rounded-start">
                {% endif %}
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h2 class="card-title">
                    <a href="{% url 'posts:detail' post.pk %}" style="text-decoration: none;">
                      {{ post.name }}
                    </a>
                  </h2>
                  <p class="card-text">{{ post.description }}</p>
                  <p class="card-text">
                    <small class="text-body-secondary">no.
                      {{ post.pk }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <hr>

      <!-- 사용자가 좋아요 한 시설 -->
      <div class="row-3">
        <div class="row">
          <h2>좋아요</h2>
          {% for post in person.like_posts.all %}
            <a href="{% url 'posts:detail' post.pk %}" style="text-decoration: none;">
              <div class="card mb-3 mx-5" style="max-width: 90%;">
                <div class="row g-0">
                  <div class="col-2">
                    {% if post.post_image %}
                      <img src="{{ post.post_image.url }}" alt="post_image" class="card-img rounded-start">
                    {% else %}
                      <img src="{% static 'no_image.jpg' %}" alt="no_image" class="card-img rounded-start">
                    {% endif %}
                  </div>
                  <div class="col-10">
                    <div class="card-body">
                      <h2 class="card-title">
                        {{ post.name }}
                      </h2>
                      <p class="card-text">{{ post.description }}</p>
                      <div class="text-center align-self-start">
                        💚
                        {{ post.like_users.count }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <hr>

      <!-- 사용자가 작성한 리뷰 -->
      <div class="row-3">
        <h2>리뷰</h2>
        {% for revieww in reviews_set.all %}
          <div class="card mb-3 mx-5" style="max-width: 90%;">
            <div class="row g-0">
              <div class="col-2">
                {% if revieww.post_image %}
                  <img src="{{ post.post_image.url }}" alt="post_image" class="card-img rounded-start">
                {% else %}
                  <img src="{% static 'no_image.jpg' %}" alt="no_image" class="card-img rounded-start">
                {% endif %}
              </div>
              <div class="col-10">
                <div class="card-body">
                  <h2 class="card-title">
                    <a href="{% url 'posts:detail' review.post.pk %}" style="text-decoration: none;">
                      {{ revieww.review }}
                    </a>
                  </h2>
                  <p class="card-text">{{ revieww.description }}</p>
                  <p class="card-text">
                    <small class="text-body-secondary">no.
                      {{ revieww.pk }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    <!-- 비밀번호 변경 -->
    <a class="change-passwosrd btn btn-success" style="width:100%; padding:10px; font-size: 22px;" on-click='func()' href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
    <!-- 회원 탈퇴-->

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
              님의 팔로잉 목록</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for following in person.followings.all %}
              <p>
                <a href="{% url 'accounts:profile' following.username %}" style="text-decoration: none;">{{ following.username }}</a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
              님의 팔로워 목록</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for follower in person.followers.all %}
              <p>
                <a href="{% url 'accounts:profile' follower.username %}" style="text-decoration: none;">{{ follower.username }}</a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ person.username }}
              님의 맞팔로워 목록</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for follower in person.followers.all %}
              {% if person in follower.followers.all %}
                <p>
                  <a href="{% url 'accounts:profile' follower.username %}" style="text-decoration: none;">{{ follower.username }}</a>
                </p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      form
      .addEventListener('submit', function (event) {
        event.preventDefault()

        const userId = event
          .target
          .dataset
          .userId

          axios({
            method: 'post',
            url: `/accounts/${userId}/follow/`,
            headers: {
              'X-CSRFToken': csrftoken
            }
          })
          .then((response) => {
            // console.log(response.data)
            const isFollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-form > input[type=submit]')
            if (isFollowed === true) {
              followBtn.value = '언팔로우'
            } else {
              followBtn.value = '팔로우'
            }

            const followingCountTag = document.querySelector('#followings-count')
            const followerCountTag = document.querySelector('#followers-count')

            const followingsCountData = response.data.followings_count
            const followersCountData = response.data.followers_count

            followingCountTag.textContent = followingsCountData
            followerCountTag.textContent = followersCountData
          })
      })
  </script>
{% endblock script %}
