{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class='d-flex justify-content-center'>
      <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="signup-size">
          {{ form.as_p }}
          <p class="text-secondary">
            다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.<br>
            비밀번호는 최소 8자 이상이어야 합니다.<br>
            통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.<br>
            숫자로만 이루어진 비밀번호는 사용할 수 없습니다.
          </p>
        </div>
        <input type="submit" value='회원 가입' class="btn btn-success fw-bold  mb-5" style="width:100%; padding:15px; font-size: 22px;">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
