{% extends 'base.html' %}

{% block style %}
  <style>
    @font-face {
      font-family: 'establishRetrosansOTF';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'HANAMDAUM';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2") format('woff2');
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'S-CoreDream-3Light';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'TheJamsil5Bold';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format('woff2');
      font-weight: 50;
      font-style: normal;
    }
  </style>
{% endblock style %}

{% block content %}
  <div class="container">
    <h1 class="mt-5 text-center my-3" style="font-family: 'S-CoreDream-3Light';">회원정보 입력</h1>
    <hr>
    <div class='d-flex justify-content-center box'>
      <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data" style="font-family: 'S-CoreDream-3Light';">
        {% csrf_token %}
        <div class="signup-size">
          {{ form.as_p }}
          <p class="text-secondary" style="font-family: 'S-CoreDream-3Light';">
            다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.<br>
            비밀번호는 최소 8자 이상이어야 합니다.<br>
            통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.<br>
            숫자로만 이루어진 비밀번호는 사용할 수 없습니다.
          </p>
        </div>
        <input type="submit" value='회원 가입' class="btn btn-success fw-bold  mb-5" style="font-family: 'S-CoreDream-3Light'; width:100%; padding:15px; font-size: 22px;">
      </div>
    </form>
  </div>
{% endblock content %}
