{% extends 'base.html' %}
{% block title %}
  profile update
{% endblock title %}

{% block style %}
<style>
  @font-face {
    font-family: 'establishRetrosansOTF';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 50;
    font-style: normal;
  }
</style>
{% endblock style %}


{% block content %}
  <div class="container">
    <h1 class="mt-5 text-center" style="font-family: 'S-CoreDream-3Light';">회원정보 수정</h1>
    <hr>
    <div class="d-flex justify-content-center px-5">
      <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
        <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
          {% csrf_token %}
          <div class="mb-2">
            {{ form.as_p }}
          </div>
          <input style="font-family: 'S-CoreDream-3Light';"type="submit" value='회원정보 수정' class="btn btn-success mb-2" style="width:100%; padding:10px;">
        </div>
      </form>
    </div>
  <div style="width:100%; height:85px">
    <div></div>
  </div>
  </div>
{% endblock content %}
