{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center my-3">회원정보 수정</h1>
    <hr>
    <div class="d-flex justify-content-center mt-5">
      <form action="{% url 'accounts:update' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="update-size my-5">
          <div class="mb-2">
            <label>이메일</label>
            {{ form.email }}
          </div>
          <div class="mb-2">
            <label>성</label>
            {{ form.first_name }}
          </div>
          <div class="mb-2">
            <label>이름</label>
            {{ form.last_name }}
          </div>
        </div>
        <input type="submit" value='회원정보 수정' class="btn btn-success mb-2" style="width:100%; padding:10px; font-size: 21px;">

      </form>
    </div>
  </div>

{% endblock content %}
