<!doctype html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    {% block link %}{% endblock link %}
    <title>
      {% block title %}{% endblock title %}
    </title>
    <style>
      @font-face {
        font-family: 'establishRetrosansOTF';
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
        font-weight: normal;
        font-style: normal;
      }

      @media (max-width: 560px) {
        .user_hidden {
          display: none;
        }
      }
      
      #navbar.bg-white {
        background-color: #fff;
        opacity: 1;
      }
      {% block style %}
      {% endblock style%}
    </style>
  </head>

  <body>
    <nav id="navbar" class="sticky-top text-success-emphasis border-success-subtle" style="width:100%">
      <div class="container h p-0" style="width:100%">
        <div class="row d-flex justify-content-between p-1">
          <div class="h p-0 col-2 d-flex align-items-center justify-content-start">
            <a class="h pb-2 mt-3 text-success-emphasis d-flex justify-content-start" href="{% url 'posts:index' %}" style="color:#198754;text-decoration-line:none;font-size:large;">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#198754" class="pb-2 bi bi-cursor" viewbox="0 0 16 16">
                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
              </svg>
              <div class="ms-3 mt-1" style="font-family: 'establishRetrosansOTF'; color:#198754;">
                onClickTravel
              </div>
            </a>
          </div>
          <div class="col-10 d-flex justify-content-end text-center align-items-center" style="font-family: 'TheJamsil5Bold';">
            {% if user.is_authenticated %}
              <form class="mx-2 text-white" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'posts:Our_Service' %}" class="button btn btn-outline-success">Our Service</a>
                <input class="button btn btn-outline-success" type="submit" value="로그아웃">
              </form>
              <a class="px-3 link-success link-underline-light text-center align-items-center" style="text-decoration-line:none;" href="{% url 'accounts:profile' user %}">
                {% if user.profile_image %}
                  <img src="{{ user.profile_image.url }}" alt="post_image" class="rounded-circle" height="40">
                {% else %}
                  <img src="https://i.pinimg.com/564x/d2/98/4e/d2984ec4b65a8568eab3dc2b640fc58e.jpg" alt="no_image" class="rounded-circle" height="40">
                {% endif %}
                {{ user }}
              </a>
            {% else %}
              <div class="mb-3 col-6 d-flex align-items-center justify-content-end">
                <a href="{% url 'accounts:login' %}" class="button btn btn-outline-success ms-3 me-2 mt-4">로그인</a>
                <a href="{% url 'accounts:signup' %}" class="button btn btn-outline-success me-2 mt-4">회원가입</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock content %}
    <!-- Footer -->
    
<footer style="font-family: 'TheJamsil5Bold'; position: sticky; background-color: rgb(2, 48, 32);margin-top: 150px; padding: 20px;        font-size: 15px;">
      <p class="m-0 text-center text-white" style="text-decoration: none;
        color: inherit;">
        Copyright &copy;
        <a target="_blank" href="{% url 'posts:Our_Service' %}" style="text-decoration: none; color: inherit;">
          2023 return A+;
        </a>
      </p>
      <p class="m-0 text-center text-white">
        Created by
        <a target="_blank" href="https://github.com/komanduk" style="text-decoration: none;
        color: inherit;">
          고영진
        </a>
        <a target="_blank" href="https://github.com/doll2gom" style="text-decoration: none;
        color: inherit;">
          김신혜
        </a>
        <a target="_blank" href="https://github.com/ParkJiHwan22" style="text-decoration: none;
        color: inherit;">
          박지환
        </a>
        <a target="_blank" href="https://github.com/alotofmilk" style="text-decoration: none;
        color: inherit;">
          장혜연
        </a>
      </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
      window.addEventListener("scroll", function() {
        const navbar = document.getElementById("navbar");
        const threshold = 100;
        
        if (window.pageYOffset > threshold) {
          navbar.classList.add("bg-white");
        } else {
          navbar.classList.remove("bg-white");
        }
      });
    </script>
    {% block script %}{% endblock script %}
  </body>

</html>
