{% extends "base.html" %}
{% block title %}
Create
{% endblock title %}
{% block content %}

{% block style %}
<style>
  @font-face {
    font-family: 'establishRetrosansOTF';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 50;
    font-style: normal;
  }
</style>
{% endblock style %}

{% comment %} <a href="{% url 'posts:index' %}">뒤로가기</a> {% endcomment %}
<div class="container">
  <h1 class="mt-5 text-center" style="font-family: 'S-CoreDream-3Light';">게시글 작성</h1>
  <hr>
  <div class="d-flex justify-content-center px-5" style="font-family: 'S-CoreDream-3Light';">
    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
      <div class="mt-5">
        {% csrf_token %}
        <div class="mb-2">
          {{ imageForm }}
          {{ form.as_p }}  
        </div>
        <div class="d-flex justify-content-center">
          <input type="submit" class="btn btn-success" style="font-family: 'S-CoreDream-3Light';" value="게시글 작성">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}